@import "../../scss/colors.scss";

.container {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}
.button {
    border: 1px solid $blackDark;
    border-radius: 1rem;
    outline: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
        background: $blackDark;
        color: #fff;
    }
}
